.font {
    font-size: 5em;
}
.francois {
    font-family: 'Francois One', sans-serif;
}
.color {
    background: #FFD200;
    height: 100%;
}
/* img:hover { 
    opacity: 0.5;
} */
.choices {
    font-size: 2em;
}
.width {
    width: 15px;
}
