/* You can add global styles to this file, and also import other style files */

  nav {
      background: rgb(255, 3, 3);
    
  }
.biggerFont {
    font-size: 2rem;
}

  .bold {
      font-weight: 700;
  }
  .oswald {
    font-family: 'Oswald', sans-serif;
  }
